.foo {

}

.login-box {
  padding: 5px;
  border: solid;
  position: absolute;
  left: 40%;
  top: 45%;
}

.display-none {
  display: none;
}

.logout-box {
  padding: 5px;
}

.user-list {
  width: 100px;
  height: auto;
  float: left;
}

.main-div {
  float: left;
  margin-left: 10px;
}

.text {
  margin-left: 10px;
}
