* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login-area {
  background-color: white;
  padding: 5px;
  border: solid;
  position: absolute;
  left: 40%;
  top: 45%;
  z-index: 9999;
  opacity: 100;
}

.logout-not-display {
  display: none;
}
